In [1]:
print("ola eu sou a bea")

ola

In [1]:
print("tou me a passar")

tou me a passar

Text Mining project

In [3]:
import pandas as pd

In [5]:
train_path = r'C:\Users\barbara\Desktop\Catarina NOVA\Text Mining\Project\Project Corpora\train.xlsx'
train_reviews_path = r'C:\Users\barbara\Desktop\Catarina NOVA\Text Mining\Project\Project Corpora\train_reviews.xlsx'
test_path = r'C:\Users\barbara\Desktop\Catarina NOVA\Text Mining\Project\Project Corpora\test.xlsx'
test_reviews_path = r'C:\Users\barbara\Desktop\Catarina NOVA\Text Mining\Project\Project Corpora\test_reviews.xlsx'

train = pd.read_excel(train_path)
train_reviews = pd.read_excel(train_reviews_path)
test = pd.read_excel(test_path)
test_reviews = pd.read_excel(test_reviews_path)

In [6]:
train.head()

,index,description,host_about,unlisted
0,1,"This is a shared mixed room in our hostel, wit...",Alojamento Local Registro: 20835/AL,0
1,2,"O meu espaço fica perto de Parque Eduardo VII,...","I am friendly host, and I will try to always b...",1
2,3,Trafaria’s House is a cozy and familiar villa ...,"I am a social person liking to communicate, re...",1
3,4,"Apartamento Charmoso no Chiado, Entre o Largo ...",Hello!_x000D_\nI m Portuguese and i love to me...,0
4,5,Joli appartement en bordure de mer.<br /> 2 m...,Nous sommes une famille avec deux enfants de 1...,0

In [7]:
train.set_index('index', inplace=True)
train_reviews.set_index('index', inplace=True)
test.set_index('index', inplace=True)
test_reviews.set_index('index', inplace=True)

In [8]:
train.head()

,description,host_about,unlisted
index,,,
1,"This is a shared mixed room in our hostel, wit...",Alojamento Local Registro: 20835/AL,0
2,"O meu espaço fica perto de Parque Eduardo VII,...","I am friendly host, and I will try to always b...",1
3,Trafaria’s House is a cozy and familiar villa ...,"I am a social person liking to communicate, re...",1
4,"Apartamento Charmoso no Chiado, Entre o Largo ...",Hello!_x000D_\nI m Portuguese and i love to me...,0
5,Joli appartement en bordure de mer.<br /> 2 m...,Nous sommes une famille avec deux enfants de 1...,0

In [9]:
train = train.copy()
train_reviews = train_reviews.copy()
test = test.copy()
test_reviews = test_reviews.copy()

In [12]:
print(train.shape)
print(test.shape)

(6248, 3)
(695, 2)

In [19]:
train.duplicated().sum()

192

In [21]:
train_reviews.duplicated().sum()

6781

In [22]:
test.duplicated().sum()

4

In [23]:
test_reviews.duplicated().sum()

438

i guess que apagamos todos os duplicados?

In [25]:
train.describe().T

           count      mean       std  min  25%  50%  75%  max
unlisted  6248.0  0.273367  0.445724  0.0  0.0  0.0  1.0  1.0